$color-dark: #08121b;
$color-light: #f5f5f5;
$color-primary-light: #fdf3b0;
$color-primary-dark: #f3c24f;

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  line-height: 1.4;
  color: var(--color-dark);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.item-strong {
  font-weight: 600;
  color: $color-primary-light;
}

.container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 8rem 75vh min-content min-content;
}

.header {
  font-size: 1.4rem;
  color: #f4f2f2;
  background-color: rgba($color-dark, 0.65);
  width: 100%;
  height: 8rem;
  display: flex;
  align-items: center;
  z-index: 9999;

  grid-area: 1 / 1 / 2 / -1;

  &__content {
    width: 1180px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
  }

  &__nav {
    text-transform: uppercase;
    display: flex;

    &_item:not(:last-child) {
      margin-right: 2rem;
    }

    &_link {
      padding-bottom: 3px;
      border-bottom: 1px solid transparent;
      transition: all 0.3s ease-out;
    }

    &_link:hover {
      border-bottom: 1px solid $color-primary-light;
    }
  }

  .profile {
    display: flex;
    align-items: center;

    .profile__account {
      display: flex;
      align-items: center;
      margin-right: 1rem;
      cursor: pointer;
    }

    .profile__account_icon,
    .profile__messages_icon {
      margin-right: 0.5rem;
      color: $color-primary-light;
    }

    .profile__arrow-down {
      font-size: 16px;
      cursor: pointer;
    }

    .profile__account_name {
      margin-right: 2px;
    }

    .profile__account_name:hover + span,
    .profile__arrow-down:hover,
    .language__current:hover + span {
      color: rgba($color-light, 0.6);
    }

    .profile__messages {
      display: flex;
      align-items: center;
      margin-right: 1rem;
    }

    .language {
      display: flex;
      align-items: center;
      cursor: pointer;
      margin-left: 3rem;

      &__current {
        display: flex;
        align-items: center;
        margin-right: 0.5rem;
      }
    }

    .flag-russian {
      background-image: url("../img/russian.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 16px;
      width: 20px;
      display: inline-block;
    }
  }
}

.hero-section {
  position: relative;
  background-image: url("../img/hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  // grid-row-start + grid-column-start + grid-row-end + grid-column-end
  grid-area: 1 / 1 / 3 / -1;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  &__logo-group {
    max-width: 1180px;
    display: flex;
    margin: 0 auto;
    padding: 0 3rem;
  }

  &__logo {
    width: 100%;
    height: auto;
  }

  // &__cta {
  //   font-size: 3rem;
  //   font-weight: 600;
  //   color: $color-primary-light;
  //   text-transform: uppercase;
  //   text-align: center;
  //   background-color: rgba($color-dark, 0.35);
  //   border: 5px solid $color-primary-dark;
  //   border-image: linear-gradient(
  //     to right top,
  //     $color-primary-dark,
  //     $color-primary-light,
  //     $color-primary-dark
  //   );
  //   border-image-slice: 1;
  //   padding: 2rem 3rem;
  //   margin-top: -4rem;
  // }

  .main-nav {
    font-size: inherit;
    color: #fff;
    text-transform: uppercase;

    &__list {
      background: linear-gradient(
        to right,
        rgba($color-dark, 0) 0%,
        rgba($color-dark, 0.7) 25%,
        rgba($color-dark, 0.7) 50%,
        rgba($color-dark, 0) 100%
      );
      max-width: 1120px;
      margin: 4rem auto;
      display: flex;
      justify-content: center;
    }

    &__list-item {
    }

    &__list-item a {
      display: inline-block;
      padding: 2rem 2rem;
      transition: all 0.2s ease-out;
      position: relative;
    }

    &__list-item_current a,
    &__list-item:hover a {
      background-color: rgba($color-dark, 0.65);
    }

    &__list-item a::after {
      content: "";
      top: auto;
      width: auto;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 0;
      background-color: $color-primary-light;
    }

    &__list-item a:hover::after,
    &__list-item_current a::after {
      right: 0;
      width: auto;
      bottom: -5px;
      height: 5px;
    }

    &__list-item span {
      font-weight: 600;
    }
  }
}

.results__item-icon {
  background-color: #ffeabc !important;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.results__classes {
  background: url("/img/iconclass.png");
  background-repeat: no-repeat;
  width: 26px;
  height: 26px;
  position: relative;
  box-shadow: 2px 2px 3px rgba(67, 57, 57, 0.5);
  display: inline-block;
  border-radius: 3px;
}

.rating-mmotop {
  display: inline-block;
  position: fixed;
  bottom: -5px;
  right: 0;
  z-index: 1;
}
