$color-dark: #08121b;
$color-dark-2: #0f2132;
$color-light: #f5f5f5;
$color-light-2: #f4f2f2;
$color-primary-light: #fdf3b0;
$color-primary-dark: #f3c24f;

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  line-height: 1.4;
  color: $color-light-2;
  background-image: linear-gradient(
    to bottom,
    $color-dark 0%,
    $color-dark-2 100%
  );
}

@media only screen and (max-width: 1280px) {
  body {
    font-size: 1.4rem;
  }
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 8rem 75vh min-content min-content;
}

@media only screen and (max-width: 1180px) {
  .container {
    grid-template-columns: repeat(6, min-content);
  }
}

.header {
  font-size: 1.4rem;
  color: #f4f2f2;
  background-color: rgba($color-dark, 0.65);
  width: 100%;
  height: 8rem;
  display: flex;
  align-items: center;
  z-index: 9999;

  grid-area: 1 / 1 / 2 / -1;

  &__content {
    // max-width: 1180px;
    width: 1180px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 6rem;
  }

  &__nav {
    text-transform: uppercase;
    display: flex;

    &_item:not(:last-child) {
      margin-right: 2rem;
    }

    &_link {
      padding-bottom: 3px;
      border-bottom: 1px solid transparent;
      transition: all 0.3s ease-out;
    }

    &_link:hover {
      border-bottom: 1px solid $color-primary-light;
    }
  }

  .profile {
    display: flex;
    align-items: center;

    .profile__account {
      display: flex;
      align-items: center;
      margin-right: 1rem;
    }

    .profile__account_icon,
    .profile__messages_icon {
      margin-right: 0.5rem;
      color: $color-primary-light;
    }

    .profile__arrow-down {
      font-size: 16px;
      cursor: pointer;
    }

    .profile__account_name {
      margin-right: 2px;
      cursor: pointer;
    }

    .profile__account_menu {
      font-size: 1.2rem;
      font-weight: 400;
      position: absolute;
      top: 6rem;
      width: 10rem;
      background-color: rgba($color-light-2, 0.95);
      color: #424242;
      padding: 1.5rem;
      border-radius: 1rem;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
      // border: 1px solid rgba(#999, 1);
      opacity: 0;
      visibility: hidden;
      transition: all 0.2s ease-in-out;

      p:first-child {
        padding-bottom: 1.2rem;
        border-bottom: 1px solid #333;
        border-image: linear-gradient(
          to right,
          rgba(#333, 0) 0%,
          rgba(#333, 0.7) 50%,
          rgba(#333, 0) 100%
        );
        border-image-slice: 1;
      }

      p:last-child {
        padding-top: 1.2rem;
      }

      a:hover {
        text-decoration: underline;
      }
    }

    .profile__account_name:hover + span,
    .profile__arrow-down:hover,
    .language__current:hover + span {
      color: rgba($color-light, 0.6);
    }

    .profile__messages {
      display: flex;
      align-items: center;
      margin-right: 1rem;
    }

    .language {
      display: flex;
      align-items: center;
      cursor: pointer;
      margin-left: 3rem;

      &__current {
        display: flex;
        align-items: center;
        margin-right: 0.5rem;
      }

      &__menu {
        position: absolute;
        top: 5.2rem;
        width: 4rem;
        border: 1px solid transparent;
        border-image: linear-gradient(
          to bottom,
          rgba($color-light-2, 0) 0%,
          rgba($color-light-2, 0.7) 100%
        );
        border-image-slice: 1;
        padding: 3px;
        margin-left: -3px;

        opacity: 0;
        visibility: hidden;
        transition: all 0.2s ease-in-out;
      }
    }

    .flag {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 16px;
      width: 20px;
      display: block;
    }

    .flag-russian {
      background-image: url("../img/russian.png");
    }

    .flag-english {
      background-image: url("../img/english.jpg");
    }
  }
}

.hero-section {
  position: relative;
  background-image: url("../img/hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  // grid-row-start + grid-column-start + grid-row-end + grid-column-end
  grid-area: 1 / 1 / 3 / -1;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  &__logo-group {
    max-width: 1180px;
    display: flex;
    margin: 0 auto;
    padding: 0 3rem;
  }

  &__logo {
    width: 100%;
    height: auto;
  }

  .main-nav {
    font-size: inherit;
    color: #fff;
    text-transform: uppercase;
    max-width: 100%;

    &__list {
      background: linear-gradient(
        to right,
        rgba($color-dark, 0) 0%,
        rgba($color-dark, 0.7) 25%,
        rgba($color-dark, 0.7) 50%,
        rgba($color-dark, 0) 100%
      );

      width: 100%;
      margin: 4rem auto;
      display: flex;
      justify-content: center;
    }

    &__list-item a {
      display: inline-block;
      padding: 2rem 2rem;
      transition: all 0.2s ease-out;
      position: relative;
    }

    &__list-item_current a,
    &__list-item:hover a {
      background-color: rgba($color-dark, 0.65);
    }

    &__list-item a::after {
      content: "";
      top: auto;
      width: auto;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 0;
      background-color: $color-primary-light;
    }

    &__list-item a:hover::after,
    &__list-item_current a::after {
      right: 0;
      width: auto;
      bottom: -5px;
      height: 5px;
    }

    &__list-item span {
      font-weight: 600;
    }
  }
}

.section-heading {
  font-weight: 400;
  font-size: 3rem;
  margin: 2.5rem 0 6rem 0;
  padding: 2rem 4rem 2rem 4rem;
  border-bottom: 1px solid $color-light-2;
  border-image: linear-gradient(
    to right,
    rgba($color-light-2, 0) 0%,
    rgba($color-light-2, 0.45) 50%,
    rgba($color-light-2, 0) 100%
  );
  border-image-slice: 1;
}

.item-strong {
  font-weight: 600;
  color: $color-primary-light;
}

.page-section {
  display: flex;
  flex-direction: column;
  align-items: center;

  grid-column: 1 / -1;

  .page-nav {
    text-transform: uppercase;
    font-size: 1.4rem;
    background: linear-gradient(
      to right,
      rgba($color-dark, 0) 0%,
      rgba($color-dark, 0.7) 25%,
      rgba($color-dark, 0.7) 50%,
      rgba($color-dark, 0) 100%
    );
    margin: 4rem 0;
    padding: 2rem 0;
    display: flex;
    max-width: 100%;

    &__list {
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 1120px;
    }

    &__list-item {
      padding: 0 2rem;
    }

    &__list-item:not(:last-child) {
      border-right: 1px solid $color-light-2;
    }

    &__list-item a {
      border-bottom: 1px solid transparent;
      display: inline-block;
      padding-bottom: 3px;
      transition: all 0.2s ease-out;
    }

    &__list-item a:hover {
      border-bottom: 1px solid $color-primary-light;
    }
  }
}

.form {
  width: 960px;
  display: flex;
  align-items: center;
  margin-bottom: 5rem;
  margin-left: -2rem;

  &__field {
    border: 1px solid #979797;
    border-radius: 2rem;
    padding: 1rem 2rem;
    background-color: $color-dark;
    font-family: inherit;
    color: #f4f2f2;
  }

  &__field {
    margin-right: 1.5rem;
    transition: all 0.25s ease-out;
  }

  &__field:focus {
    outline: transparent;
    box-shadow: 0 0 3px $color-primary-light;
  }

  &__search-input {
    padding-left: 4rem;
    margin-left: -0.8rem;
  }

  & span {
    margin-right: -3.5rem;
    padding: 0 0.5rem;
    z-index: 10;
    color: $color-light-2;
  }
}

.btn {
  padding: 1rem 3.5rem;
  font-family: inherit;
  font-weight: 500;
  border-radius: 5rem;
  background-image: linear-gradient(
    to bottom,
    $color-primary-light 50%,
    $color-primary-dark 50%
  );
  border: 1px solid $color-primary-light;
  cursor: pointer;

  &:hover {
    box-shadow: 0 0 3px $color-primary-light;
  }
}

// Table of results
.results {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid $color-light-2;
  border-radius: 1rem;
  padding: 2rem 4rem;
  background-color: rgba($color-dark, 0.65);
  // background-image: linear-gradient(
  //   to bottom,
  //   rgba($color-dark, 0.65) 0%,
  //   rgba($color-dark-2, 1) 100%
  // );
  margin-bottom: 8rem;
  width: 960px;

  &__heading {
    font-size: 2.6rem;
    font-weight: 400;
    margin-bottom: 3rem;
    margin-top: 2.5rem;
  }

  &__item-icon {
    background-color: #ffeabc !important;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px;
  }

  &__classes {
    background: url("../img/iconclass.png");
    background-repeat: no-repeat;
    width: 26px;
    height: 26px;
    position: relative;
    box-shadow: 2px 2px 3px rgba(67, 57, 57, 0.5);
    display: inline-block;
    border-radius: 3px;
  }

  &__table {
    width: 900px;
    margin: 1rem 0 4rem 0;
    border-spacing: 3px;

    & thead {
      background-image: linear-gradient(
        to bottom,
        $color-primary-light 50%,
        $color-primary-dark 50%
      );

      & th {
        padding: 1rem 3.5rem;
        color: $color-dark;

        &:first-child {
          border-top-left-radius: 1.5rem;
          border-bottom-left-radius: 1.5rem;
        }

        &:last-child {
          border-top-right-radius: 1.5rem;
          border-bottom-right-radius: 1.5rem;
        }
      }
    }

    & tbody {
      & tr {
        &:first-child td {
          padding-top: 5rem;

          &:first-child {
            border-top-left-radius: 1.5rem;
          }

          &:last-child {
            border-top-right-radius: 1.5rem;
          }
        }

        &:last-child td {
          &:first-child {
            border-bottom-left-radius: 1.5rem;
          }

          &:last-child {
            border-bottom-right-radius: 1.5rem;
          }
        }

        & td {
          padding: 1.5rem;
          text-align: center;
          background-color: rgba($color-dark, 0.65);
          font-size: 1.4rem;
        }

        & td:first-child {
          display: flex;
          align-items: center;

          div {
            margin-right: 1rem;
          }
        }
      }
    }
  }

  &__item {
    padding-bottom: 2px;
    border-bottom: 1px solid transparent;
    transition: all 0.2s ease-out;
    position: relative;

    &:hover {
      border-bottom: 1px solid $color-light-2;
    }
  }

  // Item information pop up window
  .item-info {
    background-color: rgba(#ffeabc, 0.85);
    padding: 2rem;
    color: $color-dark;
    border: 2px solid rgba($color-dark, 0.5);
    border-radius: 5px;
    font-weight: 400;
    line-height: 1.5;

    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: -50rem;
    margin-left: 2rem;
    width: 420px;
    z-index: 10;
    text-align: left;
    transition: opacity 0.2s ease-out;

    .stats {
      color: #9c0f51;
      font-weight: 500;
    }

    & > div:not(:last-child) {
      padding-bottom: 1rem;
      border-bottom: 1px solid transparent;
      border-image: linear-gradient(
        to right,
        rgba($color-dark, 0.5) 0%,
        rgba($color-dark, 0) 100%
      );
      border-image-slice: 1;
    }

    & > div:not(:first-child) {
      padding-top: 1rem;
    }

    h4 {
      margin-bottom: 2px;
      font-weight: 600;
      color: #002849;
    }

    &__heading {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      .results__item-icon {
        border: none;
        margin-right: 1rem;
      }

      h4 {
        font-size: 1.6rem;
      }
    }

    &__name-group {
      display: flex;
    }

    &__name {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__page-number_group {
    display: flex;
    align-items: center;
  }

  &__page-number {
    margin-right: 1rem;
  }

  // Info page
  .item-info-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    &__heading {
      font-size: 2.8rem;
      font-weight: 200;
      margin: 1rem 0 4rem 0;
      padding-bottom: 0.7rem;
      align-self: center;
      border-bottom: 1px solid $color-light-2;
      border-image: linear-gradient(
        to right,
        rgba($color-light-2, 1) 0%,
        rgba($color-light-2, 0) 100%
      );
      border-image-slice: 1;
      width: 100%;
    }

    &__content {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }
  }

  // Right side of item info page
  .item-info-page__right-side {
    width: 420px;
    color: rgba($color-light-2, 0.85);
    font-weight: 300;
  }

  // HOW TO GET BLOCK
  .how-to-get {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;

    background-color: $color-dark;
    padding: 2.5rem 3.5rem;
    border: 1px solid rgba($color-light, 0.4);
    margin-bottom: 4rem;

    &__container {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }

    &__heading {
      font-weight: 400;
      margin-bottom: 1.6rem;
      padding-bottom: 0.7rem;
      border-bottom: 1px solid $color-light-2;
      border-image: linear-gradient(
        to right,
        rgba($color-light-2, 1) 0%,
        rgba($color-light-2, 0) 100%
      );
      border-image-slice: 1;
      color: #fdf3b0;
    }

    &__text-group {
      display: flex;
      align-items: center;
      justify-content: space-between;

      & p {
        font-weight: 300;
      }
    }
  }

  .more-info {
    border: 1px solid rgba($color-light, 0.4);
    padding: 2.5rem 3.5rem;
    background-color: rgba($color-dark, 0.3);

    display: flex;
    flex-direction: column;
    align-items: start;

    & p:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  // quality colors
  .elite {
    color: #3369ff;
  }

  .mythic {
    color: #ca2bb0;
  }

  .legendary {
    color: #d34c5e;
  }

  // Change some styles for pop-up item-info to make it visible
  .item-info__on-page {
    position: relative;
    opacity: 1;
    visibility: visible;
    top: 0;
    margin-bottom: 2rem;
    margin-left: 0;
    align-self: flex-start;
  }
}

.rating-mmotop {
  display: inline-block;
  position: fixed;
  bottom: -5px;
  right: 0;
  z-index: 1;
}
